<form action="/users/login" method="POST">
  <%if @message%>
    <div class="notification is-info">
      <%=@message%>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input " name="email" type="text" placeholder="Enter Email" value="">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input " name="password" type="password" placeholder="Pick a password" value="">
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>

    </div>
  </div>
  <div class="field is-grouped">
    <input type="submit" class="button is-link" value='Submit'>
    <a href="/" class="button is-text">Cancel</a>

  </div>

</form>
