<div class="notification is-info">
  Looks like you reached this page in error, why not go back to the
  <a href="/">homepage?</a>
</div>

<%if @message%>
  <div class="notification is-warning">
    <%=@message%>
  </div>
<% end %>
