
<section class="hero is-primary is-large">
 <div class="hero-body">
   <div class="container">
     <h1 class="title">
       Welcome to dreambook!
     </h1>
     <h2 class="subtitle">
       Use this app to keep track of your personal life goals and dreams, and give yourself some daily inspiration!
     </h2>

     <h3>Log In or Sign Up to get started!</h3>
   </div>
 </div>
</section>
